.shared-money-calculator {
  padding-top: 24px;
  padding-bottom: 32px;

  .title {
    font-weight: 600;
  }

  .summary-paper {
    padding: 16px 20px;
    margin-bottom: 8px;
  }

  .paper {
    padding: 16px 20px;
  }

  .paper-title {
    font-weight: 600;
  }

  .list {
    margin-top: 8px;
    max-height: 220px;
    overflow-y: auto;
  }

  .table-container {
    margin-top: 8px;
    max-height: 260px;
    overflow-y: auto;
  }

  .delete-icon {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
